body {
	display: flow-root;
	background-color: #493842;
	background-attachment: fixed;
	background-image: url('/media/Rai/comm-bg.png');
	background-repeat: no-repeat;
	background-size: cover;

	animation-name: fade-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.comm-container {
	display: flex;
	justify-content: center;
	margin: 24px;
	height: max-content;
	transition: all 0.3s;

	@media (max-width: 777px) {
		display: block;
		margin: 0;
	}

	animation-name: page-slide-up;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.269, 0.918, 0.45, 0.975);
}

.comm-section {
	text-align: left;
}

.comm-panel {
	background-color: var(--card-color);
	padding: 8px 24px 24px;
	border-radius: 32px;
	max-width: 600px;
	min-width: 280px;
	width: 50%;
	height: fit-content;
	font-size: 24px;
	color: #3D2D43;
	text-align: center;
	line-height: 28px;
	flex-shrink: 0;
	margin-right: 24px;

	@media (max-width: 777px) {
		width: 88%;
		max-width: unset;
		margin: 24px auto 24px auto;
	}
}

.comm-panel button,
.terms button {
	color: #3D2D43;
	background-color: #cabcd4;
	margin: auto auto 14px;
	padding: 8px 12px;
	border-radius: 32px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.comm-panel .checked {
	background-color: #3D2D43;
	color: var(--card-color);
}

.comm-previews {
	display: inline;
	max-width: 400px;
	width: 45%;
	overflow: hidden;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;

	@media (max-width: 777px) {
		display: contents;
		width: 48%;
	}
}

.comm-img {
	width: inherit;
	position: relative;
	object-fit: scale-down;
	max-width: 50%;
	vertical-align: middle;
	margin: 2px;
	background-color: #252327;
}

.terms {
	display: none;
	background-color: #252327;
	padding: 24px;
	border-radius: 32px;
	width: 80%;
	max-width: 1000px;
	color: white;
	font-size: 24px;
	border-width: 8px;
	border-style: dotted;
	border-color: #3D2D43;
	margin: 150px auto 30px;
}

.terms li {
	margin: 12px;
}