@font-face {
	font-family: 'Cyrenia';
	src: url('lib/cyrenia-regular.ttf');
}

:root {
	--card-color: #b3a4bb;
	--slink-height: 340px;
	interpolate-size: allow-keywords;
}

html {
	background-color: #252327;
}

@view-transition {
	navigation: auto;
}

@keyframes page-slide-up {
	from {
		transform: translateY(100vh);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes page-slide-down {
	to {
		transform: translateY(100vh);
		opacity: 0;
	}

	from {
		transform: translateY(0);
		opacity: 1;
	}
}

.page-dismiss {
	opacity: 1;
	animation-name: page-slide-down !important;
	animation-timing-function: ease !important;
	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
	animation-delay: 0s !important;
}

body {
	margin: 0;
	background: #252327;
	font-family: "Cyrenia", "Comic Sans MS", "Comic Sans", "Comic Neue", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

h4 {
	font-weight: normal;
}

hr {
	border-style: dashed;
}

button,
.button {
	display: inline-block;
	border-width: 0;
	border-radius: 32px;
	font-size: 32px;
	text-align: center;
	padding: 8px 24px;
	background-color: #9948b1;
	color: white;
	font-family: Cyrenia, sans-serif;
	transition: all 0.3s;
	font-weight: bold;
	align-content: center;
	text-decoration: none;

	@media (hover: hover) {
		&:hover {
			scale: 105%;
			filter: brightness(110%);
			border-radius: 18px;
			cursor: pointer;
		}
	}
}

button:active,
.button:active {
	scale: 90%;
	filter: none;
	border-radius: 20px;
}

@keyframes slide-up {
	0% {
		transform: translateY(0);
		opacity: 0;
	}

	1% {
		transform: translateY(200px);
		opacity: 0;
	}

	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes slide-down {
	100% {
		transform: translateY(0px);
		opacity: 1;
	}

	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

}

@keyframes fix-width {
	from {
		width: 10px;
	}

	to {
		width: fit-content;
	}
}

@keyframes appear {
	to {
		opacity: 100%;
	}
}

@keyframes slide-left {
	from {
		opacity: 0;
		transform: translateX(100px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.fade-down-class {
	transition: all 0.3s !important;
	opacity: 0 !important;
	transform: translateY(100px) !important;

}

.faded {
	opacity: 0 !important;
	transition: all 0.3s !important;
	animation: none !important;
}

.disabled-btn {
	pointer-events: none;
	opacity: 30%;
}

.stamp {
	vertical-align: middle;
	image-rendering: pixelated;
	margin: 4px;
	transition: 0.3s all;
}

.stamp:hover {
	z-index: 2;
	scale: 1.3;
}

.section-panel {
	display: none;
}

.MJ-dropdown:hover .section-panel {
	display: block;
}

#header {
	background-color: #252327;
	--header-corner-color: #252327;
	height: 140px;

	position: sticky;
	z-index: 3;
	width: 100%;
	left: 0;
	top: 0;

	animation-timing-function: cubic-bezier(.31, .38, .51, 1);
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	max-height: 20vh;
}

@keyframes loadFromHeader {
	from {
		transform: scaleY(50);
	}

	to {
		transform: scaleY(1);
	}
}

@keyframes headerUnload {
	0% {
		transform: scaleY(1);
	}

	10% {
		transform: scaleY(50);
	}

	95% {
		transform: scaleY(50);
	}

	100% {
		transform: scaleY(1);
	}
}

#header-cont {
	height: 100%;
	width: fit-content;
	color: #a69cad;
	transition: all 0.3s;
	opacity: 0;
	animation-name: slide-left;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;

	display: flex;
	flex-direction: row;
	align-items: center;


	h1 {
		transition: none;
		font-size: 64px;
		margin: 0;
		margin-right: 24px;
		vertical-align: middle;
	}
}

.home-button {
	display: block;
	transition: all 0.3s;
	margin: 32px;
	align-content: center;
	height: 100%;
	max-width: 30vw;

	img {
		display: block;
		image-rendering: pixelated;
		height: 75%;
		max-width: 100%;
		object-fit: contain;
	}

	&:hover {
		scale: 105%;
		transform: rotate(3deg);
	}

	&:active {
		scale: 90%;
		transform: rotate(-3deg);
	}
}

#header::before,
#header::after {
	content: "";
	position: absolute;
	top: calc(100% - 24px);
	width: 64px;
	height: 64px;
	pointer-events: none;
	z-index: -1;
}

#header::before {
	left: -24px;
	background: radial-gradient(circle at 64px 64px, transparent 39px, var(--header-corner-color) 40px 63px, transparent 64px);
}

#header::after {
	right: -24px;
	background: radial-gradient(circle at 0 64px, transparent 39px, var(--header-corner-color) 40px 63px, transparent 64px);
}

.section-button {
	border-radius: 32px;
	transition: all 0.5s;
	min-width: 32px;
	height: 36px;
	align-items: center;
	padding-top: 12px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	text-decoration: none;

	@media (max-width: 908px) {
		display: block;

		i {
			display: flex;
			width: 100%;
			justify-content: center;
		}
	}
}

.section-button-on,
.section-button:hover {
	min-width: 32px;
	height: 44px;
	padding-top: 18px;
	padding-bottom: 2px;
}

.section-text {
	margin-left: 12px;
	font-family: Cyrenia;

	@media (max-width: 525px) {
		display: none;
	}
}

.topnav {
	position: fixed;
	z-index: 4;
	min-height: 64px;
	top: 24px;
	right: 24px;
	transition: all 0.3s;
	display: none;
	opacity: 0;
	animation-name: slide-left;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;

	@media (max-width: 908px) {
		display: block;
	}
}

.MJ-logo {
	object-fit: cover;
	width: 66%;
}

.clickable-image {
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.2s !important;
	outline: #ccc solid 0;
	-webkit-tap-highlight-color: transparent;
}

.clickable-image:hover {
	outline-width: 6px;
	outline-offset: -6px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 6;
	padding-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	pointer-events: visibleFill;
	backdrop-filter: blur(24px);
	transition: all 0.3s;
	opacity: 0;
	scrollbar-width: none;
}

.modal-content {
	position: sticky;
	object-fit: contain;
	max-width: 100%;
	margin: auto;
	max-height: calc(90vh - 82px);
	border-radius: 12px;
	transition: all 0.3s;
	overflow: scroll;
	scrollbar-width: none;
}

#caption {
	position: relative;
	display: grid;
	grid-template-columns: auto max-content;
	max-width: 100%;
	text-align: left;
	color: #ccc;
	padding: 10px 0;
	min-height: 48px;
	margin-top: 20px;
	margin-left: 32px;
	font-size: 24px;
	margin-bottom: 0;
	line-height: 12px;

	@media (max-width: 500px) {
		grid-template-columns: auto;
	}
}

#caption b {
	line-height: normal;
}

.caption-tags {
	font-size: 24px;
	padding: 4px 12px;
	margin-right: 8px;
	background-color: white;
	color: black;
	margin-bottom: 8px;
}

.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.caption-tag-container {
	display: inline;
	position: absolute;
	top: 58px;
	left: 145px;
	margin-bottom: 12px;
}

@keyframes zoom {
	from {
		transform: scale(0.9) translateY(50%);
		opacity: 0;
	}

	to {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

#popup-actions {
	margin-right: 12px;

	button {
		background-color: transparent;
		right: 64px;
		color: #f1f1f1;
		font-size: 32px;
		font-weight: bold;
		transition: all 0.3s;
		cursor: pointer;
		padding: 12px;
	}

	@media (max-width: 500px) {
		text-align: right;
	}
}

#popup-download-dropdown {
	position: fixed;
	right: 12px;
	top: 86px;
	background-color: white;
	border-radius: 24px;
	color: black;
	z-index: 10;
	padding: 10px;
	box-shadow: 0 0 24px black;
	list-style: none;

	button {
		font-size: 24px;
		margin: 4px;
		width: 100%;
		padding: 8px;
	}
}

#close-popup:hover,
#close-popup:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.profile-raicon {
	width: 100px;
	height: 100px;
	margin: 2px;
	vertical-align: middle;
	transition: all 0.3s;
	text-decoration: none;
}

.clickable-profile-raicon:hover {
	scale: 140%;
}

.hide-smaller {
	@media (max-width: 908px) {
		display: none;
	}
}

.hide-mobile {
	@media (max-width: 650px) {
		visibility: hidden;
	}
}

.caption-tag-container {
	@media (max-width: 650px) {
		position: relative;
		top: auto;
		left: auto;
	}
}

.only-wide {
	@media (max-width: 777px) {
		visibility: hidden;
	}
}


.dropdown-panel {
	@media (max-width: 525px) {
		margin: auto;
		top: 0;
	}
}